<style>
    .error__title {

    }
</style>
<div class="layout__cols">
    <div class="layout__col">
        <div class="sidebar tile tile--sm">
            <a class="sidebar__item $activeClass" href="/">На главную страницу</a>
        </div>
    </div>
    <div class="layout__col layout__col--stretched">
        <div class="tile">
            <h2 class="page__title">Страница не найдена</h2>
            <h1 class="error__title">Ошибка 404</h1>
        </div>
    </div>
</div>