<style>
    .error__title {

    }
</style>
<div class="layout__cols">
    <div class="layout__col">
        <div class="sidebar tile tile--sm">
            <a class="sidebar__item $activeClass" href="/">Вернуться назад</a>
        </div>
    </div>
    <div class="layout__col layout__col--stretched">
        <div class="tile">
            <h2 class="page__title">Обратная связь</h2>
            <form id="create-feedback__form" class="form">
                <div class="form-item">
                    <label for='name'>Имя</label>
                    <input class="input" type='text' name='name' required>
                </div>
                <div class="form-item">
                    <label for='email'>Почта</label>
                    <input class="input" type='text' name='email' required>
                </div>
                <div class="form-item">
                    <label for='topic'>Тема сообщения</label>
                    <input class="input" type='text' name='topic'>
                </div>
                <div class="form-item">
                    <label for='message'>Сообщение</label>
                    <textarea class="input" type='text' name='message'></textarea>
                </div>
                <button id="submit-button" class="button">Добавить</button>
            </form>
        </div>
    </div>
</div>